<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Toca aquí y te llevará a mi github
        <a target="_blank" class="font-weight-bold link-info" href="https://github.com/AlexanderST01">AlexanderST01</a>.
    </span>   
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
